.chart {
    height:80vh;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    padding:5px;
    justify-content: flex-start;
    align-items: center;
}
.chart-header {
    width:95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: greenyellow;
    margin-bottom: 5px;
}
.chart-field {
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 95%; 
    align-items: stretch;
    padding: 0.2em;
    background-color: yellow;
}
.chart-info {
    flex:1;
    display: flex;
    background-color: rgb(180, 149, 149);
}
.chart-body {
    flex:1.4;
    display: flex;
    background-color: lightpink;
}