* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem
}






button {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
}

button.active {
  color: #fff;
  background: #008FFB;
  border: 1px solid blue;
  border-bottom: 2px solid blue;
}

button:focus {
  outline: 0;
}
/* ************************ */
.example_c {
  /* color: #494949 !important; */
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.55rem;
  background-color: rgb(50, 17, 63);
  color: white;
  /* background: #ffffff; */
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }

.example_c:hover {
  color: #ffffff !important;
  background-color: rgb(113, 67, 131);
  border-color: rgb(112, 35, 143) !important;
  transition: all 0.4s ease 0s;
}

/* ******************** */
#chart {
  max-width: 950px;
  margin: 35px auto;
}

#chartsmall {
  box-sizing: border-box;
  width:100%;
  max-width: 100%;
  height: 55vh;
}

.chart {
  box-sizing: border-box;
  height:50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chart-body {
  box-sizing: border-box;
  flex:1.1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 55vh;
  padding: 0.8rem;
  margin-left: 40px;
}

.chart-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 55vh;
  width: 100%; 
  align-items: stretch;
}

.chart-header {
  height:7vh;
  box-sizing: border-box;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-info {
  box-sizing: border-box;
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 57vh;
}

.chart-info-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  padding: 0.8rem;
}

.chart-info-column-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 7vh;
}

.chart-info-column-row-key {
  box-sizing: border-box;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chart-info-column-row-value {
  box-sizing: border-box;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: 650;
}

.filler {
  flex:1;
  border-bottom: 3px solid #dbd7d7;
  display: flex;
}

.entire {
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
  }

.footer {
  background-color: rgb(167, 151, 132);
  height: 5vh;
  width: 100%
}

.header-container-out {
  height: 7vh;
  font-size: 1.5rem;
  color:whitesmoke;
  background-color: rgb(167, 151, 132);
  display: flex;
  justify-content: space-between;
}
  
.header-container-signed {
  height: 3vh;
  color:whitesmoke;
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 17, 63);
}

.half-header {
  box-sizing: border-box;
  height: 5vh;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: bottom;
}

.header-item {
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-around;
  align-items: center; /* could be stretch*/
  width: 100%;
  padding: 0.1rem
}
  
.header-center {
 flex:2.5
}

.header-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.linkstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: initial;
  width: 70px;
  color: rgb(58, 85, 143);
  height: 8vh;
  padding: 5px;
  border-bottom: 3px solid #dbd7d7;
  opacity: 0.9
}

.linkstyle-screener {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: initial;
  width: 140px;
  color: rgb(58, 85, 143);
  height: 5vh;
  padding: 5px;
  border-bottom: 3px solid #dbd7d7;
  opacity: 0.9
}

.login {
  margin-left: 20px;
}
 
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: green;
  
}
  
.loginBox,
.signupBox {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #c4c2c2;
  opacity: 0.8
}

.lookup-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 65vh; */
}

.navheader {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  height: 8vh;    
}

.navheader-screener {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  height: 5vh;    
}

.navheader-block-select {
  width: 80px;
  border-bottom: 3px solid rgb(221, 179, 238);
}

.navheader-block-right {
  display: flex;
  flex: initial;
  width: 80px;
  border-bottom: 3px solid #dbd7d7;
}
.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 97vh; */
  justify-content: flex-start;
  align-items: center;
}

.page-field {
  display:flex;
  flex-direction: column;
  /* height: 92vh; */
  width: 95%; 
  justify-content: flex-start;
  align-items: center;
  padding: 0.2em;
  padding-top: 0rem;
}

.page-header {
  background-color: rgb(240, 239, 239);
  height:6vh;
  width: 70%;
  padding: 0.5rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: bottom;
}

.page-header-container {
  box-sizing: border-box;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: green
}

.page-top-field {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height:8vh;
  width: 100%;
  background-color: rgb(233, 230, 230);
}

.second-header {
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8vh;
}

.subtag-screener {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.space-btw-navs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 15vh;
  width: 100%;
}

.space-btw-navs-company {
  display: flex;
  margin:0px;
  flex-direction: row;
  height: 6vh;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1.3rem;
  font-weight: 500;
}

.space-btw-navs-market {
  display: flex;
  height: 3vh;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start; 
  font-size: 0.7rem;
}

.space-btw-navs-container {
  display: flex;
  flex-direction: row;
  height: 8vh;
  align-items: center;
  justify-content: flex-start;
}
  
.space-btw-navs-price {
  display: flex;
  height: 5vh;
  font-size: 1.8rem;
  font-weight: 700;
  align-items: flex-end;
  width: 100px;
}

.space-btw-navs-div {
  display: flex;
  flex-direction: row;
  height: 4vh;
  font-size: 1.4rem;
  font-weight: 400;
  align-items: flex-end;
}
.statistic {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background-color: aquamarine;
  padding: 1rem;
  padding-top: 0px;
}
.stat-column {
  display: flex;
  flex-direction: column;
  flex:1;
  padding: 1rem;
  background-color: yellow;
  border: 1px solid green
}

.stat-col-container {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  margin: 5px;
  height: 250px;
  padding: 0.5rem;
}

.stat-col-cont-element {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem
}

.stat-col-cont-elem-key {
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  background-color: green
}

.stat-col-cont-elem-value {
  display: flex;
  flex:1.2;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5 rem;
  background-color: yellowgreen;

}








.tag {
  display:flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
  margin-left: 5px;
  color: rgb(58, 85, 143);
  padding: 5px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 70px;
}
  
.unsigned-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  height: 88vh;
  width:100%;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  background-image: url("./city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.watchlist-field {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  justify-content: flex-start;
  align-items: center;
  padding: 0.2em;
  padding-top: 0rem;
}































