* {
  box-sizing: border-box;
  font-size: 0.8rem;
}

.select-box--container {
  height: 15px;
  
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.select-box--box {
  width: 80px;
  position: absolute;
  left: 0;
}

.select-box--arrow {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  
  position: absolute;
  right: 0;
  top: 0;
}

.select-box--selected-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0px 12px;
  /*vertical-align: middle;*/
  
}

.select-box--items div {
  
  padding: 2px;
  padding-left: 20px;
  background-color: grey;
}

.select-box--items div.selected {
  background-image: url('/check.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px 8px;
  background-color: skyblue;
  color: rgb(71, 68, 68)
}

.select-box--items div:hover {
  background-color: darkgray;
}

.select-box--arrow-down {
  position: absolute;
  top: 6px;
  left: 2px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  
  }

.select-box--arrow-up {
  position: absolute;
  top: 6px;
  left: 2px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #fff;
}

